@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
header {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 20px 18px 12px;
}

.header {
  display: flex;
  justify-content: end;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
}

.nav-links {
  display: none;
}

.burger-menu-line {
  width: 30px;
  border: 1.6px solid #21243d;
}

.wrapper {
  width: 100%;
  padding-top: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 33px 0 58px;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.title {
  font-size: 32px;
  font-weight: 700;
  width: 200px;
  text-align: center;
  line-height: 40px;
  color: #21243d;
  margin: 43px 0 21px;
}

.bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  width: 340px;
  text-align: center;
}

@keyframes downloadAnimation {
  0% {
    background-color: #ff6464;
  }
  25% {
    background-color: #ff6464;
  }
  50% {
    background-color: #ff64c8;
  }
  75% {
    background-color: #6464ff;
  }
  100% {
    background-color: #276130;
  }
}
.download {
  border: none;
  background-color: #ff6464;
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  color: #fff;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  margin: 27px 0 0;
  cursor: pointer;
  transition:
    transform 300ms,
    box-shadow 150ms ease-in-out;
  animation: downloadAnimation 8s ease-in-out 1s infinite alternate;
}

.download:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 13px 3px rgba(137, 76, 76, 0.75);
  -webkit-box-shadow: 0px 0px 13px 3px rgba(137, 76, 76, 0.75);
  -moz-box-shadow: 0px 0px 13px 3px rgba(137, 76, 76, 0.75);
}

.download:active {
  transform: scale(0.95);
}

.recent-posts,
.featured-works {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-posts {
  padding-bottom: 38px;
  background-color: #edf7fa;
}

.section-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
}

.view-all {
  display: none;
}
.post-cards {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.post-card {
  background-color: #fff;
  width: 100%;
  padding: 12px 20px 20px;
  width: 354px;
  margin: 0 auto;
  box-shadow: 0 4px 10px 0 rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  transition: background-color 400ms ease-in-out;
}
.post-card:hover {
  cursor: pointer;
  background-color: #ffbdb3;
}

.post-card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #21243d;
}

.post-card-date {
  margin: 12px 0 19px;
}
.post-card-date span {
  margin: 0 24px;
}

.description {
  line-height: 1.5em;
  color: #21243d;
}

.featured-works {
  width: 100%;
  margin-bottom: 150px;
}

.feature-img {
  width: 100%;
  max-height: 230px;

  object-fit: cover;
  border-radius: 6px;
  display: block;
  transition: transform 300ms ease-in-out;
}
.feature-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.featured-work-card {
  width: 344px;
}

.featured-work-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #21243d;
  margin: 17px 0 16px;
}

.feature-date {
  margin: 16px 0 24px;
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.feature-date .year {
  display: flex;
  font-size: 16px;
  color: #fff;
  background-color: #142850;
  border-radius: 20px;
  height: 25px;
  width: 62px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.feature-tag {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #8695a4;
}

.main-bottom-line {
  max-width: 339px;
  border-bottom: 1px solid #e0e0e0;
  margin: 17px auto;
}

.footer {
  width: 375px;
  height: 182px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 26px;
}

.social-icons {
  display: flex;
  column-gap: 35px;
}

.social-icon {
  width: 30px;
  height: 30px;
  font-size: 10px;
  object-fit: cover;
}
.copyright {
  font-size: 14px;
  color: #21243d;
}
